body {
  font-family: Tahoma;
}
h1 {
  font-family: 'Bungee Inline', cursive;
}

div.tabs > a, div.tabs > button {
  margin-right: 10px;
  font-size: 1.2em;
}

div.tabs {
  margin-bottom: 10px;
}

.category {
  cursor: pointer;
}

.category:hover {
  font-weight: bold;
}


