<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>.message { font-size: 1.3em; font-weight: bold; }</style>
    <title>Lunch Item Count With Message</title>
  </head>

  <body ng-app="NameCalculator">
    <div class="container" ng-controller="NameCalculatorController">
      <h1>Lunch Checker</h1>
        <div class="form-group">
          <input id="lunch-menu" type="text"
            placeholder="list comma separated dishes you usually have for lunch" class="form-control"
            ng-model="name">
        </div>
        <div class="form-group">
          <button class="btn btn-default" ng-click="displayNumeric()">Check If Too Much</button>
          <!-- need to invoke the message() function as well -->
        </div>
        <div class="form-group message">
          <!-- Total number of items: {{totalValue}} -->
          <br>
          Message To Display is: {{messageText}}
        </div>
      </div>
  </body>
</html>