/*.message { 
  font-size: 1.3em;
  font-weight: bold; 
  border: 1px solid white;
}*/
.dataGiven {
  color: green;
  /*border: 1px solid green;*/
}

.dataNotGiven {
  color: red;
  border: 1px solid red;
}


