<div class="container">
  <h2 class="text-center">Registered Information</h2>
  <p ng-if="!MyInfoCtrl.user">Not yet Signed Up. <a ui-sref="public.sign-up">Sign up now!</a></p>

  <table ng-if="MyInfoCtrl.user">
    <tr>
      <th>First Name</th>
      <td>{{ MyInfoCtrl.user.firstName }}</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>{{ MyInfoCtrl.user.lastName }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ MyInfoCtrl.user.email }}</td>
    </tr>
    <tr>
      <th>Phone</th>
      <td>{{ MyInfoCtrl.user.phone }}</td>
    </tr>
    <tr>
      <th>Favorite Dish</th>
      <td>{{ MyInfoCtrl.dish.name }}<br>
      <img ng-if="MyInfoCtrl.dish.image" ng-src="{{ MyInfoCtrl.dish.image }}">
      <br>
      {{ MyInfoCtrl.dish.description }}
      </td>
    </tr>
    
    
    
  </table>
</div>