<div class="container" ng-controller="SignUpController as reg">
  <h2 id="sign-up-title" class="text-center">Sign Me Up!</h2>
  <fieldset>
  <legend>Register</legend>

  <form name="reg.regForm" novalidate>
  <!-- replace all references to reg.regForm with plain regForm -->
    <!-- FirstName -->
    <input type="text" name="firstName" class="form-control" placeholder="First Name"
    ng-model="reg.user.firstName"
    required>
    <p ng-show="reg.regForm.firstName.$invalid && !reg.regForm.firstName.$pristine" 
        class="help-block">Your first name is required.</p>
    <br>

    <!-- LastName -->
    <input type="text" name="lastName" class="form-control" placeholder="Last Name"
    ng-model="reg.user.lastName"
    required>
    <p ng-show="reg.regForm.lastName.$invalid && !reg.regForm.lastName.$pristine" 
    class="help-block">Your last name is required.</p>
    <br>
    <!-- Email -->
    <input type="email" name="email" class="form-control" placeholder="Email format: name@domain.TLD"
    ng-model="reg.user.email"
    required>
    <p ng-if="reg.regForm.email.$invalid && reg.regForm.email.$touched" class="help-block">Must be a valid email address: name@domain </p>
    <br>
    <!-- Phone -->
    <input type="text" name="phone" class="form-control" placeholder="Phone Number format: ###-###-####"
    ng-model="reg.user.phone"
    pattern="(\d{3})-(\d{3})-(\d{4})">
    <p ng-if="reg.regForm.phone.$invalid && reg.regForm.phone.$touched" class="help-block">Phone must be in the format ###-###-####.</p>
    <br>
    <!-- Favorite Dish -->
    <input type="test" name="shortName" class="form-control" placeholder="Favorite Dish Number (eg D3)"
    ng-model="reg.user.dish.shortName"
    ng-blur="reg.checkMenuItem()"
    required>
    <p ng-if="reg.regForm.shortName.$invalid && reg.regForm.shortName.$touched" class="help-block">No such menu item exists</p>
    <br>
  
    <!-- Submit button -->
    <button class="btn btn-secondary"
    ng-disabled="reg.regForm.$invalid"
    ng-click="reg.submit()">Submit My Info!</button>
  </form>

  <p ng-if="reg.submitted">Your information has been saved!</p>
  
</div>