<!DOCTYPE html>
<html ng-app='ShoppingListApp'>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <title>Shopping List Check Off</title>
  </head>
  <body>
    <div class="container">
    <h1>Shopping List Check Off</h1>

      <div class="row">
    
      <!-- To Buy List -->
      <!-- Currently from User Input -->
      <!-- CHANGE to from list in .js file? -->
      <div class="col-md-6">
        <div ng-controller='ShoppingListAddController as itemAdder'>
          <input type="text" ng-model="itemAdder.itemName" placeholder="item name">
          <input type="text" ng-model="itemAdder.itemQuantity" placeholder="quantity">
          <button ng-click="itemAdder.addItem();">Add Item To Shopping List</button>
        </div>

        <div ng-controller='ShoppingListShowController as showList'>
          <ol>
            <li ng-repeat="item in showList.items">
               {{ item.name }} {{ item.quantity }}
              <button ng-click="showList.removeItem($index);"><span class="glyphicon glyphicon-ok"></span> Bought</button>
            </li>
          </ol>
          <div ng-show="controllername.message" class="emptyMessage">Everything is bought!</div><!--Only show when every item has been clicked and has been removed from the tobuy list. ie. when tobuy list has length 0!-->
          </div>
        </div>  

        <!-- Already Bought List -->
        <div class="col-md-6">
          <h2>Already Bought:</h2>
          <ul>
            <li>Bought 10 cookies</li>
          </ul>
          <div ng-show="controllername.message" class="emptyMessage">Nothing bought yet.</div><!--Only show when bought list is empty (i.e. has length 0)!-->
        </div>
      </div>
    </div>
  </body>
</html>
