body {
  font-size: 1.0em;

}
h1 {
  font-family: 'Bungee Inline', cursive;
  color: #e4dcc9;
  text-shadow: 2px 2px #060501;
  background-color: #5b4c2d;
  padding: 1em;
}
div.tabs > a, div.tabs > button {
  color: #fe0100;
  text-decoration: none;
  /*margin-right: 10px;*/
  font-size: 1.0em;
}

div.tabs {
  margin-bottom: 10px;
}

.category {
  cursor: pointer;
}

.category:hover {
	font-weight: bold;
  color: #98490e;
  transform:scale(1.5,1);
  -webkit-transform:scale(1.5,1);
}

.button-categories {
  background-color: #e4dcc9;
  font-size: 1em;
  font-family: Sans-serif;
  min-width: 200px;
  float: right;
}
.button-home {
  background-color: #e4dcc9;
  font-size: 1em;
  font-family: Sans-serif;
  min-width: 200px;
  float: center;
}
li {
  list-style: none;
  padding-left: 10px;
  text-align: center;
  font-family: cursive;
}
h2 {
  color: #5b4c2d;
  padding-left: 20px;
  text-align: center;
  font-family: 'Bungee Inline', cursive;
}
h3 {
 text-align: center;
 font-style: italic; 
}
